trigger:
- main

pool:
  #name: "Default"  # Replace "Default" with your self-hosted pool name
  vmImage: ubuntu-latest
  # DO NOT include vmImage

variables:
  - group: AZURE-CLI  # Link your Variable Group
  - name: RESOURCE_GROUP
    value: 'rg-experian-demo-01.'
  - name: ADF_NAME
    value: 'adf-experian-demo-1'
  - name: ASSETS_DIR
    value: '$(System.DefaultWorkingDirectory)/adf'
  - name: KEYVAULT_BASEURL
    value: 'https://gameda-kv1.vault.azure.net/'
  - name: DATABRICKS_URL
    value: 'adb-3006059123266207.7.azuredatabricks.net'
  - name: DATABRICKS_CLUSTER_ID
    value: '1211-053747-ss7i3ehb'
  - name: DATABRICKS_WORKSPACE_DIR
    value: "/repos/adf-databricks/notebooks"
  - name: DATABRICKS_TOKEN
    value: '$(DATABRICKS_TOKEN)'

stages:
  - stage: Deploy_Databricks_Notebooks
    displayName: "Deploy Notebooks to Databricks"
    jobs:
      - job: DeployNotebooks
        displayName: "Deploy Notebooks"
        pool:
          vmImage: ubuntu-latest
          #name: 'Default'

        steps:
          - task: UsePythonVersion@0
            inputs:
              versionSpec: '3.x'
              addToPath: true
          - script: |
              python -m pip install --upgrade pip
              pip install databricks-cli
              databricks workspace -h
              echo "------ BBB -----"
              export DATABRICKS_HOST=${DATABRICKS_HOST}
              export DATABRICKS_TOKEN=${DATABRICKS_TOKEN}
              echo "DATABRICKS_TOKEN length: ${#DATABRICKS_TOKEN}"  # Print length instead of value for security
              echo "ABCD length: ${#ABCD}"  # Print length instead of value for security
              echo "***************Now actual command ************** DATABRICKS_HOST= ${DATABRICKS_HOST},   DATABRICKS_TOKEN = ${DATABRICKS_TOKEN} , ABCD = ${ABCD}  "
              databricks workspace import_dir "${LOCAL_NOTEBOOKS_DIR}" "${DATABRICKS_WORKSPACE_DIR}" --overwrite
            displayName: "Run Databricks Deployment Script"
            env:
              LOCAL_NOTEBOOKS_DIR: "$(Build.SourcesDirectory)/databricks/notebooks"
              DATABRICKS_HOST: "https://$(DATABRICKS_URL)"  # Set in Azure DevOps as secret
              DATABRICKS_TOKEN: $(DATABRICKS_TOKEN)
              ABCD: "ABCDEF"